# (1)
Easy to use and learn, widely use in industries, alot of librabries, huge community of python users, easy to debug, Interpreted language, etc.

# (2)

In [3]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [30]:
def my_function():
    print("Hello, World!")

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
# if and else 
age = 18
if age >= 18:
    print("elgiable for driving license")
else:
    print("Not eligable for driving license")

elgiable for driving license

# (3)

In [33]:

# Example with a list
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

# Modifying the list
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

In [3]:
# Example with a string
my_string = "Hello"
print(my_string)  # Output: Hello

# Trying to modify the string (this creates a new string)
my_string = my_string + " World"
print(my_string)  # Output: Hello World

Hello
Hello World

# (4)
Operator	Description	Example
+	Addition	3 + 2 = 5
-	Subtraction	5 - 2 = 3
*	Multiplication	3 * 2 = 6
/	Division (float)	5 / 2 = 2.5
//	Floor Division	5 // 2 = 2
%	Modulus (remainder)	5 % 2 = 1
**	Exponentiation	2 ** 3 = 8

In [8]:
x = 10
y = 3
print(x + y)   # Output: 13 (Addition)
print(x // y)  # Output: 3 (Floor division)
print(x % y)   # Output: 1 (Modulus)

13
3
1

Comparison Operations
Operator	Description	                     Example
==	         Equal to	                     3 == 3 (True)
!=	         Not equal to 	                 3 != 2 (True)
>	         Greater than	                 5 > 3  (True)
<	         Less than	                     2 < 5  (True)
>=	        Greater than or equal to	     5 >= 5 (True)
<=	        Less than or equal to	         3 <= 5 (True)

In [12]:
x = 7
y = 5
print(x > y)   # Output: True
print(x == y)  # Output: False

True
False

In [14]:
# logical operator
x = 10
y = 5
print(x > 5 and y < 10)  # Output: True (both conditions are True)
print(not (x == y))      # Output: True (because x == y is False)

True
True

In [ ]:
# bitwise operator
x = 6  # Binary: 110
y = 3  # Binary: 011
print(x & y)  # Output: 2 (Binary: 010, bitwise AND)
print(x | y)  # Output: 7 (Binary: 111, bitwise OR)

In [16]:
# assignment operator
x = 5
x += 3  # Equivalent to x = x + 3
print(x)  # Output: 8

8

In [17]:
x = [1, 2, 3]
y = [1, 2, 3]
print(x is y)  # Output: False (different memory locations)
print(x == y)  # Output: True (same values)

z = x
print(x is z)  # Output: True (same object)

False
True
True

In [19]:
my_list = [10, 20, 30, 40]
print(my_list[1])  # Output: 20 (indexing starts at 0)

20

In [21]:
# Implicit typecasting from int to float
x = 5       # Integer
y = 2.0     # Float
result = x + y   # Python implicitly converts 'x' to float before performing addition
print(result)    # Output: 7.0 (float)
print(type(result))  # Output: <class 'float'>

7.0
<class 'float'>

In [40]:
# Explicit typecasting from string to integer
num_str = "100"      # String representing an integer
num_int = int(num_str)  # Manually convert to integer
print(num_int)  # Output: 100
print(type(num_int))  # Output: <class 'int'>

100
<class 'int'>

In [39]:
# Converting a list to a tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)  # Convert list to tuple
print(my_tuple)  # Output: (1, 2, 3)

# Converting a tuple to a list
new_list = list(my_tuple)  # Convert tuple back to list
print(new_list)  # Output: [1, 2, 3]

(1, 2, 3)
[1, 2, 3]

In [38]:
# Explicit typecasting from integer to string
num = 50
num_str = str(num)  # Convert integer to string
print(num_str)  # Output: "50"
print(type(num_str))  # Output: <class 'str'>

50
<class 'str'>

In [20]:
#Converting a list to a set
my_list = [1, 2, 2, 3, 4]
my_set = set(my_list)  # Convert list to set (removes duplicates)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [28]:
# 4) conditional statement 
a = [1,2,3,4,45,56,"gangsigns","om"]
for a in a:
    if a == 45:
        continue
    print(a)
else:
    print("the om will be executed")

1
2
3
4
56
gangsigns
om
the om will be executed

In [23]:
age = 25
has_passport = True

if age >= 18 and has_passport:
    print("You are eligible to apply for a visa.")
else:
    print("You are not eligible to apply for a visa.")

You are eligible to apply for a visa.

In [24]:
marks = 75

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: C

In [25]:
#5) for and  if 
for a in("*"):
    print(a)
    b= "* *"
    if b in("* *"):
        print(b)
        c= "* * *"
        if c in("* * *"):
            print(c)
            d= "* * * *"
            if d in("* * * *"):
                print(d)

*
* *
* * *
* * * *

In [26]:
# while loop
i = 1
while i <= 5:
    print(i)
    i += 1  # Increment the counter

1
2
3
4
5

In [ ]:
#break loop
for i in range(10):
    if i == 5:
        break  # Exit the loop when i equals 5
    print(i)

In [27]:
# continue loop
for i in range(5):
    if i == 3:
        continue  # Skip the rest of the loop when i equals 3
    print(i)

0
1
2
4